body {
    background-color: beige;
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem;
}

button {
    margin-right: .5rem;
    padding: .5rem 1rem;
}

.output-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.output-row p {
    width: 120px;
    margin-right: 10px;
}
textarea {
    resize: none;
    width: 100%;
}