body {
    background-color: white;
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
}

input {
    display: block;
    height: 64px;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;
}

button {
    margin-right: .5rem;
    padding: .5rem 1rem;
}

.results {
    width: 100%;
}

.output-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.output-row p {
    width: 240px;
    margin-right: 10px;
}

textarea {
    resize: none;
    width: 100%;
    border-radius: 10px;
}